.button {
  padding: 1.25rem 2.5rem;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 15px;
  box-sizing: border-box;
  line-height: calc(1.5625rem / 1.125rem);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.button--has-shadow {
  box-shadow: 0 8px 24px var(--primary-40-color);
  transition-property: box-shadow, background-color;
}

.button--has-shadow:hover {
  box-shadow: none;
}

.button--type_primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--type_primary:hover {
  background-color: var(--primary-light-color);
}

.button--type_secondary {
  background-color: var(--primary-10-color);
  color: var(--primary-color);
}

.button--type_secondary:hover {
  background-color: var(--primary-20-color);
}

.button--size_medium {
  padding: 0.9375rem 1.5625rem;
  font-size: 0.875rem;
  line-height: calc(1.25rem / 0.875rem);
  border-radius: 12px;
}

.button--size_small {
  padding: 0.625rem 1.125rem;
  font-size: 0.75rem;
  line-height: calc(1.0625rem / 0.75rem);
  border-radius: 10px;
}
