.heading {
  color: var(--fourth-color);
}

.heading--desktop-size_extra-large {
  font-size: 3.25rem;
  line-height: 1.2;
}

.heading--desktop-size_large {
  font-size: 2.875rem;
  line-height: 1.3;
}

.heading--desktop-size_medium {
  font-size: 2rem;
  line-height: 1.3;
}

.heading--desktop-size_small {
  font-size: 1.25rem;
  line-height: 1.4;
}

.heading--tablet-size_extra-large {
  font-size: 2.625rem;
  line-height: 1.2;
}

.heading--tablet-size_large {
  font-size: 2.25rem;
  line-height: 1.3;
}

.heading--tablet-size_medium {
  font-size: 1.5rem;
  line-height: 1.4;
}

.heading--mobile-size_extra-large {
  font-size: 1.75rem;
  line-height: 1.2;
}

.heading--mobile-size_large {
  font-size: 1.5rem;
  line-height: 1.3;
}

.heading--mobile-size_medium {
  font-size: 1.125rem;
  line-height: 1.4;
}

.heading--mobile-size_small {
  font-size: 1rem;
  line-height: 1.4;
}
