mixin button-circle(modifiers='')
  button(class=`button-circle${modifiers}` type='button')
    svg(class='button-circle__icon' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='#25BA7B')
      path(fill-rule='evenodd' d='M13.56 10.06a1.5 1.5 0 0 0 0-2.12l-7-7a1.5 1.5 0 1 0-2.12 2.12L10.378 9l-5.94 5.94a1.5 1.5 0 0 0 2.122 2.12l7-7Z' clip-rule='evenodd')
