mixin dropdown(id, classes = '')
  select(class=`dropdown${classes}` id=id)
    option(value='first-option') Опция 1
    option(value='second-option') Опция 2
    option(value='third-option') Опция 3
