doctype html
html(class='root' lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Foreign Project
    link(href='./css/index.css' rel='stylesheet')
    script(src='./js/transfer-element.js' defer)
    script(src='./js/index.js' defer)
  body(class='body root__body')
    include ./../modules/_header
